
.match-list {
  font-family: 'Rubik', sans-serif;
  color: $text-color;
  padding: 0;
  transition: 0.3s;
  .match {
    background: white;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 10px;
    margin-top: 10px;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    height: 60px;
  .score {
    width: 25%;
    text-align: center;
  }
  .team {
    display: flex;
    align-items: center;
    width: 40%;
    .team-name {
      margin-bottom: 0;
      margin: 0 10px;
    }
    .team-crest {
      width: 30px;
    }
  }
  .away-team {
    text-align: right;
    justify-content: right;
  }
  }
}

@media all and (min-width: 300px) {
  .score { font-size: 0.6em; }
  .team-name { font-size: 0.8em; }
}

@media all and (min-width: 400px) {  
  .score { font-size: 0.8em; }
  .team-name { font-size: 1.0em; }
}

@media all and (min-width: 600px) {  
  .score {
    font-size: 0.5em; 
  }
  .team-name {
    font-size: 1.0em;
  }
}

@media all and (min-width: 700px) {  
  .score { font-size: 0.5em;  } 
  .team-name { font-size: 1.6em; }
}
@media all and (min-width: 800px) {
  .score {
    font-size: 0.5em;
  }  
  .score { font-size: 0.8em;  
  }
  .team-name { font-size: 1.6em; }
}


@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
