.navbar {
  margin-bottom: 10px;
  background-color: $main-color;
  .navbar-brand {
    display: flex;
    align-items: center;
    color: $text-color;
      img {
        margin-right: 5px;
        border-radius: 50%;
        animation: pulse 2s infinite;
      }
      h3 {
        margin: 0;
      }
    &:hover {
      color: $text-color;
    }
  }
}