@import './common/variables';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './nav/navbar';
@import './homepage';
@import './matchlist/matchlist';
@import '../styles/matchlist/filters';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700;900&family=Source+Sans+Pro:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: $main-color;
  min-height: 100vh;
}

.site-wrapper {
  margin: 0 auto;
  background: $main-color;
}

.btn {
  background-color: $highlight-color;
  border-color: $highlight-color;
  color: white;
  &:hover {
    background-color: $highlight-color;
    border-color: $highlight-color;
    color: white;
  }
}